<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文章页面</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery.sinaEmotion.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Article/Article.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Page/page.css" />
<link href="__PUBLIC__/Css/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Article/jquery.sinaEmotion.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/modernizr.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/head.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/common.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Article/article.js"></script>

</head>

<body>

    <include file="Public:head" />
	
	<input type="hidden" name="id" value="<?php echo $_SESSION['id'] ?>" />
	<input type="hidden" name="username" value="<?php echo $_SESSION['username'] ?>" />
	
	<div id="mainbody">
		<aside>
			<div class="head">
				<a href="__APP__/Home/Index/index?id={$article['author_id']}" target="_blank" >
					<img src="{$article['pic']}" />
					<span>{$article['username']}</span>
				</a>
			</div>
			<section class="userinfo">
				<h1>他的签名：</h1>
				<p>{$article['sign']}</p>
			</section>
			<div class="fan">
				<p class="num"> 粉丝：<span>{$num}</span></p>
				<p class="btns"><span class="favorite">关注</span><span class="friend">申请好友</span></p>
			</div>
			<div class="Recommend">
				<h2>博主最新文章</h2>
				<ol>
					<volist name="artlist" id="wo" >
						<li><span><strong>{$key+1}.</strong></span><a href="/blog/index.php/Home/Article/article?id={$wo['id']}" >{$wo['title']}</a></li>
					</volist>	
				</ol>
			</div>
			<section class="taglist">
				<h2>全部类型</h2>
				<ul>
					<li><a href="/">青空</a></li>
					<li><a href="/">情感聊吧</a></li>
					<li><a href="/">study</a></li>
					<li><a href="/">青青唠叨</a></li>
				</ul>
			</section>
		</aside>


		<div class="BlogAlt">
			<article>
				<input type="hidden" name="article_id" value="{$article['id']}" />
				<input type="hidden" name="author_id" value="{$article['author_id']}" />
				<h2 class="title"><a href="/">{$article['title']}</a></h2>
				    <ul class="text">
						<p class="textimg"><img src="{$article['picture']}"></p>
						<p><?php echo htmlspecialchars_decode($article['content']); ?></p>
					</ul>	
			</article>
		</div>
		
		<div id="comment">
			<div class="sign">
					<h2>评论区:</h2>
			</div>
			<div id="commentlist">
				<ul>
					<volist name="list" id="vo">
						<li>
							<div id="info-show">
								<div id="comment-author">
									<img src="{$vo['popic']}" />
								</div>
								<div id="comment-body">
									<input type="hidden" name="from_uid" value={$vo['from_uid']} />
									<input type="hidden" name="comment_id" value={$vo['id']} />
									<a href="/blog/index.php/Home/Index/index?id={$vo['from_uid']}" target=_blank ><p class="username">{$vo['reply_name']}</p></a>
									<p class="comment-content">{$vo['content']}</p>
									<div class="comment-footer">
										<span>#1　</span>
										<span>{$vo['time']}　</span>
										<span class="comment-response">回复</span>
									</div>
									<p style="display:none;"></p>
								</div>
								<input type="hidden" name="comment_type" value="comment" />
							</div>
							<volist name="vo['replylist']" id="ro" >
								<if condition="$ro['level'] eq 1">
									<div style="float:right;width:95%" id="info-show">
										<div id="comment-author">
											<img src="{$ro['reply_pic']}" />
										</div>
										<div id="comment-body">
											<input type="hidden" name="comment_id" value={$ro['comment_id']} />
											<input type="hidden" name="from_uid" value={$ro['from_uid']} />
											<a href="/blog/index.php/Home/Index/index?id={$ro['from_uid']}" target=_blank ><p class="username">{$ro['replyname']}</p></a>
											<p class="comment-content">回复@{$ro['be_replyname']}：{$ro['content']}</p>
											<div class="comment-footer">
												<span>#1　</span>
												<span>{$ro['time']}　</span>
												<span class="comment-response">回复</span>
											</div>
											<input type="hidden" name="reply_id" value={$ro['id']} />
										</div>
									</div>
								<elseif condition="$ro['level'] eq 2" />
									<div style="float:right;width:90%" id="info-show">
										<div id="comment-author">
											<img src="{$ro['reply_pic']}" />
										</div>
										<div id="comment-body">
											<input type="hidden" name="comment_id" value={$ro['comment_id']} />
											<input type="hidden" name="from_uid" value={$ro['from_uid']} />
											<a href="/blog/index.php/Home/Index/index?id={$ro['from_uid']}" target=_blank ><p class="username">{$ro['replyname']}</p></a>
											<p class="comment-content">回复@{$ro['be_replyname']}：{$ro['content']}</p>
											<div class="comment-footer">
												<span>#1　</span>
												<span>{$ro['time']}　</span>
												<span class="comment-response">回复</span>
											</div>
											<input type="hidden" name="reply_id" value={$ro['id']} />
										</div>
									</div>
								<elseif condition="$ro['level'] eq 3" />
									<div style="float:right;width:85%" id="info-show">
										<div id="comment-author">
											<img src="{$ro['reply_pic']}" />
										</div>
										<div id="comment-body">
											<input type="hidden" name="comment_id" value={$ro['comment_id']} />
											<input type="hidden" name="from_uid" value={$ro['from_uid']} />
											<a href="/blog/index.php/Home/Index/index?id={$ro['from_uid']}" target=_blank ><p class="username">{$ro['replyname']}</p></a>
											<p class="comment-content">回复@{$ro['be_replyname']}：{$ro['content']}</p>
											<div class="comment-footer">
												<span>#1　</span>
												<span>{$ro['time']}　</span>
												<span class="comment-response">回复</span>
											</div>
											<input type="hidden" name="reply_id" value={$ro['id']} />
										</div>
									</div>	
								<else/>	
									<div style="float:right;width:80%" id="info-show">
										<div id="comment-author">
											<img src="{$ro['reply_pic']}" />
										</div>
										<div id="comment-body">
											<input type="hidden" name="comment_id" value={$ro['comment_id']} />
											<input type="hidden" name="from_uid" value={$ro['from_uid']} />
											<a href="/blog/index.php/Home/Index/index?id={$ro['from_uid']}" target=_blank ><p class="username">{$ro['replyname']}</p></a>
											<p class="comment-content">回复@{$ro['be_replyname']}：{$ro['content']}</p>
											<div class="comment-footer">
												<span>#1　</span>
												<span>{$ro['time']}　</span>
												<span class="comment-response">回复</span>
											</div>
											<input type="hidden" name="reply_id" value={$ro['id']} />
										</div>
									</div>
								</if>
							</volist>
						</li>
					</volist>				
				</ul>
			</div>
			
			
			
			<div class="pagination">{$page}</div>
			
			<div id="comment-box">
				<div class="sign">
					<h2>发表评论:</h2>
				</div>
				<div style="margin-left:30px;">	
					<div class="Inputbox">
						<textarea name="comment" class="comment-text" placeholder="请输入..."></textarea>
						<p style="display:none" name="exchange" class="exchange" ></p>
					</div>
					<input type="hidden" name="article_id" value="{$article['id']}" />	
					<div class="toolsbox">
						<div class="operator-box-btn"><span class="face-icon" >😚</span></div>
						<div class="submit-btn"><input type="button" name="button" value="提交评论" /></div>
					</div>
				</div>
			</div>
			<div id="c_command">
				请输入内容...
			</div>
			<div id="c_default">
				评论失败！...
			</div>
			<div id="c_success">
				评论成功！...
			</div>
			<div id="c_submit">
				提交中...
			</div>
			<div id="f_success">
				关注成功...
			</div>
			<div id="friendrequest">
				申请已发送...
			</div>
		</div>
		
	</div>

	<footer>
		<div class="author-head">
			<img src="__PUBLIC__/Image/photo.jpg" /> 
			<ul class="author-mesage">
				<p class="fname">{$article['username']}</p>
				<p>性别：
					<if condition="$article['sex'] eq 1">
						男
					<else/>
						女
					</if>
				</p>
				<p>年龄：{$article['age']}</p>
				<p>个人描述：{$article['userdesc']}</p>
			</ul>
		</div>
		<section class="visitor">
			<h2>最近评论</h2>
			<ul>
				<volist name="visitor" id="vi" empty="$empty">
					<li><a href="/blog/index.php/Home/Index/index?id={$vi['uid']}"><img src="{$vi['pic']}"></a></li>
				</volist>
			</ul>	
		</section>
		<div class="footmesage">
			<ul>
				<a href="#">帮助中心</a><a href="#">空间客服</a><a href="#">投诉中心</a><a href="#">空间协议</a>
			</ul>
			<p>Design by Charlotte</p>
			<p>3113002438 黎相奕</p>
		</div>
	</footer>

</body>



</html>
