<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js" ></script> 
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery-validate.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/head.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/common.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Index/index.js"></script>
<link href="__PUBLIC__/Css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Index/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Page/page.css" />


</head>
<body>
	
	<include file="Public:head" />
	
	<input type="hidden" name="username" value="<?php echo $_SESSION['username'] ?>" />
	<input type="hidden" name="id" value="<?php echo $_SESSION['id'] ?>" />
	
	<div id="mainbody">
		<div id="part1">
			<div id="Pic">
				<ul class="shoufengqin">
					<li><a href="#" ><img src="__PUBLIC__/Image/art.JPG" /></a></li>
					<li><img src="__PUBLIC__/Image/bg.JPG" /></li>
					<li><img src="__PUBLIC__/Image/text1.JPG" /></li>
					<li><img src="__PUBLIC__/Image/art.JPG" /></li>
				</ul>	
			</div>
			<div id=info>
				<h1>关于博主</h1>
				<p>Id：{$po['username']}</P>
				<input type="hidden" name="blogerid" value="{$po['id']}" />
				<p>文章类别：LOL</p>
				<p>邮箱：{$po['mail']}</p>
				<p>电话：{$po['phonenum']}</p>
				<p>签名：{$po['desc']}</p>
				<ul class="linkmore">
					<li><a href="javascript:void(0)" class="friend" title="添加好友"></a></li>
					<li><a href="javascript:void(0)" class="talk" title="私信"></a></li>
					<li><a href="javascript:void(0)" class="heart" title="关注"></a></li>
				</ul>
			</div>
		</div>
		<div id="part2">
			<div id="bloglist">
				<ul class="blogContent">
					<volist name="data" id="vo" empty="该博主还没有发表过任何文章哦(￣︶￣)">
						<li>
							<div class="blogone">
								<div class="ti"></div>
								<div class="ci"></div>
								<h2 class="title"><a href="__APP__/Home/Article/article?id={$vo['id']}" target="_blank">{$vo['title']}</a></h2>
								<div class="Alt">
									<a href="__APP__/Home/Article/article?id={$vo['id']}">
										<if condition="$vo['picture'] eq ''">
											<img src="/blog/Public/Image/s1.JPG">
										<else/>
											<img src="{$vo['picture']}">
										</if>	
									</a>
									<p> {$vo['desc']}</p>
								</div>
								<ul class="details">
									<li class="likes"><a href="#">10</a></li>
									<li class="comments"><a href="#">34</a></li>
									<li class="icon-time"><a href="#">{$vo['release_time']}</a></li>
								</ul>
							</div>
						</li>
					</volist>
				</ul>
				<div class="pagination">{$page}</div>
			</div>
			<div class="right">
				<div class="tuijian">
					<h2>最新发表</h2>
					<ol>
						<volist name="list" id="art">
							<li><span><strong>{$key+1}.</strong></span><a href="__APP__/Home/Article/article?id={$art['id']}" target="_blank">{$art['title']}</a></li>
						</volist>
					</ol>
				</div>
				<div class="search">
					<form action="__APP__/Home/Search/search" method="post" class="searchform">
						<input type="text" name="search" value="请输入要查询的文章标题" onFocus="this.value=''" maxlength="15" />
						<img src="__PUBLIC__/Image/search2.png" class="searchsubmit" />
					</form>
				</div>
				<div class="favorite">
					<h2>最热博主</h2>
					<img class="hot" src="__PUBLIC__/Image/hot.png" />
					<ol>
						<li>
							<div class="most-hot">
								<img class="no1" src="__PUBLIC__/Image/no1.png" />
								<div class="host-po-pic">
									<img src="__PUBLIC__/Image/head-face.jpg" />
								</div>
								<div class="mess">
									<p class="po-name"><a href="__APP__/Home/Index/index?id=2" target="_blank">Charlotte</a></p>
									<p class="fan"> 粉丝：<span>100</span></p>
									<p class="desc"> 描述：<span>热爱运动的幻想家</span></p>
								</div>
							</div>
						</li>
						<li>
							<div class="most-hot">
								<img class="no2" src="__PUBLIC__/Image/no2.png" />
								<div class="host-po-pic">
									<img src="__PUBLIC__/Image/head-face.jpg" />
								</div>
								<div class="mess">
									<p class="po-name"><a href="__APP__/Home/Index/index?id=2" target="_blank">admin</a></p>
									<p class="fan"> 粉丝：<span>100</span></p>
									<p class="desc"> 描述：<span>情感丰富的写手</span></p>
								</div>
							</div>
						</li>
						<li>
							<div class="most-hot">
								<img class="no3" src="__PUBLIC__/Image/no3.png" />
								<div class="host-po-pic">
									<img src="__PUBLIC__/Image/head-face.jpg" />
								</div>
								<div class="mess">
									<p class="po-name"><a href="__APP__/Home/Index/index?id=2" target="_blank">Chalotte</a></p>
									<p class="fan"> 粉丝：<span>89</span></p>
									<p class="desc"> 描述：<span>热爱生活的散文家</span></p>
								</div>
							</div>
						</li>
					  
					</ol>
				</div>
				<div class="music">
					<dl>
						<dt class="art"><img src="__PUBLIC__/Image/artwork.png" alt="专辑"></dt>
						<dd class="songname"><span></span>半岛铁盒</dd>
						<dd class="singer"><span></span>歌手：周杰伦</dd>
						<dd class="bgm">
							<audio src="__PUBLIC__/Music/bgm.mp3" controls="controls"></audio>
						</dd>	
					</dl>	
				</div>
			</div>
		</div>
		
		
		
		
		<div id="f_success">
			关注成功...
		</div>
		<div id="requesting">
			发送请求中...
		</div>
		<div id="friendrequest">
			申请已发送...
		</div>
		
		
	</div>
	
	<div id="footer">
		<ul class="footermess">
			<a href="#">帮助中心</a><a href="#">空间客服</a><a href="#">投诉中心</a><a href="#">空间协议</a>
		</ul>
		<p class="footer1">Design by Charlotte</p>
		<p class="footer1">3113002438 黎相奕</p>
	<div>
	
	
</body>
</html>
