<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的文章</title>
<link href="__PUBLIC__/Css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Page/page.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Myarticle/myarticle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js" ></script> 
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/head.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/common.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/leftnav.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Myarticle/myarticle.js" ></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
	
	<include file="Public:head" />
	
	<input type="hidden" name="username" value="<?php echo $_SESSION['username'] ?>" />
	<input type="hidden" name="userid" value="<?php echo $_SESSION['id'] ?>" />
	
	<div id="mainbody">
		<include file="Public:leftnav" />
		
		<div id="tabs">
		
			<ul>
				<li><a href="#myarticle">我的文章</a></li>
				<li><a href="#newarticle">发表新文章</a></li>
				<li class="change" style=""><a href="#changeart">修改文章</a></li>
			</ul>
		
			<div id="myarticle">
				<table class="mytable" >
					<tr>
						<th width=8%>编号</th>
						<th width=35%>文章标题</th>
						<th width=10%>作者</th>
						<th width=12%>类型</th>
						<th width=15%>发布时间</th>
						<th width=20%>操作</th>
					</tr>
					<volist name="result" id="ro" empty="你还没有发表过文章哦(￣︶￣)">
						<input type="hidden" name="article_id" value="{$ro['id']}" />
						<tr>
							<td>{$i}.</td>
							<td><a href="/blog/index.php/Home/Article/article?id={$ro['id']}" class="Goto">{$ro['title']}</a></td>
							<td>{$ro['username']}</td>
							<td>
								<if condition="$ro['kind'] eq 1">
									情感人生							
								<elseif condition="$ro['kind'] eq 2" />
									励志哲理
								<elseif condition="$ro['kind'] eq 3"/>
									经典美文
								<else/>
									伤感日记
								</if>
							</td>
							<td>{$ro['release_time']}</td>
							<td>
								<button class="modify">修改</button>
								<button class="delete">删除</button>
							</td>
						</tr>
					</volist>
				</table>
				
				<div class="pagination">{$page}</div>
			</div>
			
			<div id="newarticle">
				<form action="__APP__/Home/Myarticle/newarticle" method="post" class="myform"  enctype="multipart/form-data">
					<div class="Arttitle">
						<label>文章标题：</label><input type="text" name="title" tabindex="1"/>
					</div>
					<div class="Artdsesc">	
						<label>文章描述：</label><textarea name="desc" tabindex="2"></textarea>
					</div>
					<div class="kind">
						<span>文章类型：</span>
						<label for="emotion">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/emotion.png" />
							情感人生
						</label>
						<input type="radio" name="kind" value="1" id="emotion" checked="checked" tabindex="3" />
						<label for="philosophy">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/philosophy.png" />
							励志哲理
						</label>
						<input type="radio" name="kind" value="2" tabindex="4" id="philosophy"  />
						<label for="classic">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/classic.png" />
							经典美文
						</label>
						<input type="radio" name="kind" value="3" tabindex="5" id="classic"  />
						<label for="sad">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/sad.png" />
							伤感日记
						</label>
						<input type="radio" name="kind" value="4" tabindex="6" id="sad"  />
					</div>	
					<div class="Artpic">
						<label>上传图片：</label>
						<div class="hidden">
							<input type="file" name="upload" />
						</div>
						<label class="Pre-see">预览：</label>
						<div class="Pre-box">
							<img src="" name="Pre-pic" />
						</div>
					</div>
					<div class="Artcontent">
						<span>文章内容：</span><textarea name="content" id="content" tabindex="7"></textarea>
					</div>
					<div class="button">
						<button  type="button" class="ensure" tabindex="8">发表</button>
						<button  type="button" class="reset" tabindex="9">重置</button>
					</div>
				</form>	
			</div>
			
			
			<div id="changeart">
				<form action="__APP__/Home/Myarticle/modify" method="post" class="upform"  enctype="multipart/form-data">
					<input type="hidden" name="modifyid" value="" />
					<div class="Arttitle">
						<label>文章标题：</label><input type="text" name="re-title" value="" tabindex="1" />
					</div>
					<div class="Artdsesc">	
						<label>文章描述：</label><textarea name="re-desc" tabindex="2" ></textarea>
					</div>
					<div class="kind">
						<span>文章类型：</span>
						<label for="r-emotion">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/emotion.png" />
							情感人生
						</label>
						<input type="radio" name="re-kind" value="1" id="r-emotion" checked="checked" tabindex="3" />
						<label for="r-philosophy">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/philosophy.png" />
							励志哲理
						</label>
						<input type="radio" name="re-kind" value="2" tabindex="4" id="r-philosophy"  />
						<label for="r-classic">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/classic.png" />
							经典美文
						</label>
						<input type="radio" name="re-kind" value="3" tabindex="5" id="r-classic"  />
						<label for="r-sad">
							<img style="width:20px;height:20px;position:absolute;top:5px;left:5px;" src="__PUBLIC__/Image/sad.png" />
							伤感日记
						</label>
						<input type="radio" name="re-kind" value="4" tabindex="6" id="r-sad"  />
					</div>
					<div class="Artpic">
						<label>上传图片：</label>
						<div class="hidden">
							<input type="file" name="re-upload" />
						</div>
						<label class="Pre-see">预览：</label>
						<div class="Pre-box">
							<img src="" name="re-pic" />
						</div>
					</div>
					<div class="Artcontent">
						<label>文章内容：</label><textarea name="content2" id="content2" ></textarea>
					</div>
					<div class="button">
						<button  type="button" class="update" tabindex="7">修改</button>
						<button  type="button" class="cancle" tabindex="8">取消</button>
					</div>
				</form>	
			</div>

		</div>
		
		<div id="waiting">
			加载中
		</div>
		
	</div>
	
	<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('content',{initialFrameWidth:900,initialFrameHeight:400,});
    UE.getEditor('content2',{initialFrameWidth:900,initialFrameHeight:400,});
    


	</script>
</body>
</html>
