<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js" ></script> 
<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/head.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/common.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Common/leftnav.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/Repassword/repassword.js" ></script>
<link href="__PUBLIC__/Css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Css/Repassword/repassword.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<include file="Public:head" />
	
	<input type="hidden" name="username" value="<?php echo $_SESSION['username'] ?>" />
	<input type="hidden" name="userid" value="<?php echo $_SESSION['id'] ?>" />
	
	<div id="mainbody">
		<include file="Public:leftnav" />
		
		<div id="repassword">
			<div class="Rebody">
				<form action="__APP__/Home/Repassword/modify" method="post" name="myform"  >
					<div class="Npassword">
						<label for="Npassword" class="labelsize passlabel"></label>
						<input type="password" name="Npassword" placeholder="新的密码" title="请输入新的密码" tabindex="1"/>
					</div>
					<div class="Npassword2">
						<label for="Npassword2" class="labelsize repasslabel"></label>
						<input type="password" name="Npassword2" placeholder="再输一次" title="请再确认一次" tabindex="2"/>
					</div>
					<div class="operation">
						<button type="button" class="btn" name="ensure" />确定</button>
						<button type="button" class="btn" name="cancle" />重置</button>
					</div>
				</form>	
			</div>	
		</div>
		
	</div>

</body>
</html>
